/*
    https://www.flickr.com/photos/philgassor/55341447516/
*/


.Background_01 {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)
        ),
        /* url("https://live.staticflickr.com/65535/55341447516_98c7dd5b9f_k.jpg") */
        url("/Images/Edited_Mountains_Photo.png")
        ;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}


.Section_01 {
    height: calc(100% - 80px);
    position: relative;
    overflow: hidden;
    font-family: "JetBrains Mono", monospace;
}


.Section_01::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(
        to bottom,

        rgba(23, 23, 23, 0),

        rgba(23, 23, 23, 0.15),

        rgba(23, 23, 23, 0.40),

        rgba(23, 23, 23, 0.75),

        #171717
    );
    pointer-events: none;
    z-index: 0;
}

.Section_01_Content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 125px;
}

.Introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.Title {
    font-size: 40px;
    margin: 10px 0;
}


.Sub-Title {
    font-size: 20px;
}

.Professional_Links {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    margin-top: 25px;
}

.Professional_Button {

    margin-top: 25px;
}

.Professional_Button circle {
    fill: none;
    stroke: white;
    stroke-width: 2;
    transition: 0.2s;
}

.Professional_Button text {
    fill: white;
    stroke: white;
    stroke-width: 0.5;
    transition: 0.2s;
}

.Professional_Button:hover circle {
    fill: white;
    stroke: white;
}


.Professional_Button:hover text {
    fill: black;
    stroke: black;
    stroke-width: 1.5;
}