/* 
{
    margin: 0;
    padding: 0;
} 
*/

p {
    text-align: justify;
}

body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.Youtube-Embedd {
    display: flex;
    width: 100%;
    justify-content: center;
}

.Nav-Bar {
    padding-left: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

.Website {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Wide {
    width: 75%;
}

.Thin {
    width: 75%;
}

#Art {
    display: flex;
    flex-direction: column;
}

#Lego_Animation_Container {
    display: flex;
    flex-direction: column;
}

#Lego_Animations_Column {
    display: flex;
}

iframe {
    padding: 10px;
}