<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/CSS/main.css">
    <script src="script.js" defer></script>
</head>
<body>
    <header class="Header">
        <div class="Header_Content">
            <div><h3>James Harris</h3></div>
            <div class="Theme_Controls">
                <button id="Moon_Button" class="Icon_Button">Moon</button>
                <button id="Sun_Button" class="Icon_Button">Sun</button>
            </div>
        </div>
    </header>

    <div class="Layout_Container">
        <nav class="Side_Bar">
            <div class="Side_Bar_Title">
                <a href="index.html" class="Side_Bar_Title_Link">Home</a>
            </div>
            <div class="Side_Bar_Content">
                <button class="Side_Bar_Button"><a href="projects.html" >Projects</a></button>
                <button class="Side_Bar_Button"><a href="thoughts.html">Thoughts</a></button>
                <button class="Side_Bar_Button"><a href="about.html">About</a></button>
            </div>
        </nav>

        <main class="Main_Content">
            <div>
                <h1>Welcome</h1>
            </div>
            <section class="Home_Section">
                <div><a href="https://www.buymeacoffee.com/james.harris"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=james.harris&button_colour=FFDD00&font_colour=000000&font_family=Inter&outline_colour=000000&coffee_colour=ffffff" /></a></div>
                <div>
                    <script data-name="BMC-Widget" data-cfasync="false" 
                    src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="james.harris" 
                    data-description="Support me on Buy me a coffee!" 
                    data-message="" 
                    data-color="#FF813F" data-position="Right" data-x_margin="18" data-y_margin="63"></script></div>
            </section>
        </main>
    </div>

    <footer>
        <p>© James Harris 2026</p>
    </footer>

</body>
</html>