<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>James Harris HUB</title>
    <link rel="stylesheet" href="/CSS/stylesheet.css">
    <link rel="stylesheet" href="/CSS/Skeleton.css">
    <link rel="stylesheet" href="/CSS/Books-Page_01.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
    </style>
</head>

<body>
    <div class="Background_01">
        
        <div class="Foundation">
            <div class="Foundation_Banner">
                <button class="Foundation_Button"><h1><a href="/Views/home-page.html">JirH</a></h1></button>
            </div>

            <nav class="Foundation_Navigation">
                <button class="Foundation_Button"><a href="/Views/home-page.html">Home</a></button>
                <button class="Foundation_Button"><a href="/Views/projects.html">Projects</a></button>
                <button class="Foundation_Button"><a href="/Views/books.html">Books</a></button>
                <button class="Foundation_Button"><a href="/Views/blog.html">Blog</a></button>
                <button class="Foundation_Button"><a href="/Views/art.html">Art</a></button>
                <button class="Foundation_Button"><a href="/Views/about.html">About</a></button>
            </nav>
        </div>

        <div class="Section_01">
            <div class="Section_01_Content">
                <div>
                    <h1>Books</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>