<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>James Harris HUB</title>

    <link rel="stylesheet" href="../CSS/stylesheet.css">
    <link rel="stylesheet" href="../CSS/Skeleton.css">
    <link rel="stylesheet" href="../CSS/Homepage_01.css">
    <link rel="stylesheet" href="../CSS/Scroll-Encourage.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
    </style>
</head>


<body>

    <section class="Background_01">


        <!-- Navigation -->

        <div class="Foundation">

            <div class="Foundation_Banner">

                <button class="Foundation_Button">

                    <h1>
                        <a href="/Views/home-page.html">
                            JirH
                        </a>
                    </h1>

                </button>

            </div>


            <nav class="Foundation_Navigation">

                <button class="Foundation_Button">
                    <a href="home-page.html">
                        Home
                    </a>
                </button>

                <button class="Foundation_Button">
                    <a href="projects.html">
                        Projects
                    </a>
                </button>

                <button class="Foundation_Button">
                    <a href="books.html">
                        Books
                    </a>
                </button>

                <button class="Foundation_Button">
                    <a href="/Views/blog.html">
                        Blog
                    </a>
                </button>

                <button class="Foundation_Button">
                    <a href="art.html">
                        Art
                    </a>
                </button>

                <button class="Foundation_Button">
                    <a href="about.html">
                        About
                    </a>
                </button>

            </nav>

        </div>



        <!-- Section 01 -->

        <section class="Section_01">


            <div class="Section_01_Content">


                <!-- Introduction -->

                <div class="Introduction">
                    <div>
                        <h4 class="Sub-Title">
                            Hi, my name is
                        </h4>
                    </div>

                    <div>
                        <h1 class="Title">
                            James I. R. Harris
                        </h1>
                    </div>

                    <div>
                        <h4 class="Sub-Title">
                            Software Engineer based in Wales, UK
                        </h4>
                    </div>

                </div>


                <!-- Professional Links -->

                <div class="Professional_Links">

                    <!-- CV -->
                    <div class="Professional_Button">
                        <a href="">
                            <svg
                                width="50"
                                height="50"
                                viewBox="0 0 50 50">

                                <circle
                                    cx="25"
                                    cy="25"
                                    r="20" />

                                <text
                                    class="Long_Text"
                                    x="25"
                                    y="25"
                                    text-anchor="middle"
                                    dominant-baseline="central">

                                    CV
                                </text>
                                
                                <text
                                    class="Short_Text"
                                    x="25"
                                    y="25"
                                    text-anchor="middle"
                                    dominant-baseline="central">

                                    <!-- Curriculum Vitae -->
                                </text>
                            </svg>
                        </a>
                    </div>

                    <!-- LinkedIn -->
                    <div class="Professional_Button">
                        <a href="">
                            <svg
                                width="50"
                                height="50"
                                viewBox="0 0 50 50">

                                <circle
                                    cx="25"
                                    cy="25"
                                    r="20" />

                                <text
                                    x="25"
                                    y="25"
                                    text-anchor="middle"
                                    dominant-baseline="central">

                                    in

                                </text>
                            </svg>
                        </a>
                    </div>



                    <!-- YouTube -->
                    <div class="Professional_Button">
                        <a href="">
                            <svg
                                width="50"
                                height="50"
                                viewBox="0 0 50 50">

                                <circle
                                    cx="25"
                                    cy="25"
                                    r="20" />

                                <text
                                    x="25"
                                    y="25"
                                    text-anchor="middle"
                                    dominant-baseline="central">

                                    YT

                                </text>
                            </svg>
                        </a>
                    </div>



                    <!-- GitHub -->

                    <div class="Professional_Button">
                        <a href="">
                            <svg
                                width="50"
                                height="50"
                                viewBox="0 0 50 50">

                                <circle
                                    cx="25"
                                    cy="25"
                                    r="20" />

                                <text
                                    x="25"
                                    y="25"
                                    text-anchor="middle"
                                    dominant-baseline="central">

                                    GH

                                </text>
                            </svg>
                        </a>
                    </div>



                    <!-- Stack Overflow -->

                    <div class="Professional_Button">
                        <a href="">
                            <svg
                                width="50"
                                height="50"
                                viewBox="0 0 50 50">

                                <circle
                                    cx="25"
                                    cy="25"
                                    r="20" />

                                <text
                                    x="25"
                                    y="25"
                                    text-anchor="middle"
                                    dominant-baseline="central">

                                    SO

                                </text>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

        <div class="Scroll-Encourage">
            <svg viewBox="0 0 20 100" preserveAspectRatio="none">
                <line
                    x1="10"
                    y1="0"
                    x2="10"
                    y2="100" />
            </svg>
        </div>

        </section>

        

    </section>

    <section class="Section_02">
        <div class="Showcase">

            <h1>
                Showcase
            </h1>

        </div>
    </section>
</body>
</html>