<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>James Harris HUB</title>
    <link rel="stylesheet" href="/CSS/stylesheet.css">
    <link rel="stylesheet" href="/CSS/Skeleton.css">
    <link rel="stylesheet" href="/CSS/Project-Page_01.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
    </style>
</head>

<body>
    <div class="Background_01">
        
        <div class="Foundation">
            <div class="Foundation_Banner">
                <button class="Foundation_Button"><h1><a href="/Views/home-page.html">JirH</a></h1></button>
            </div>

            <nav class="Foundation_Navigation">
                <button class="Foundation_Button"><a href="/Views/home-page.html">Home</a></button>
                <button class="Foundation_Button"><a href="/Views/projects.html">Projects</a></button>
                <button class="Foundation_Button"><a href="/Views/books.html">Books</a></button>
                <button class="Foundation_Button"><a href="/Views/blog.html">Blog</a></button>
                <button class="Foundation_Button"><a href="/Views/art.html">Art</a></button>
                <button class="Foundation_Button"><a href="/Views/about.html">About</a></button>
            </nav>
        </div>

        <div class="Section_01">
            <div class="Section_01_Content">
                <h1>Projects</h1>
                <br>
                <button><h1><a href="/Projects/Langton_Ant.html">Langton Ant Cellular Automaton Parallel Computing Benchmarker</a></h1></button>
                <button><h1><a href="/Projects/Quantum_Testing_Framework.html">Quantum Simulation Testing Framework</a></h1></button>
                <button><h1><a href="">Smart Campus Navigator Application</a></h1></button>
                <button><h1><a href="">Godot Framework</a></h1></button>
                <button><h1><a href="">Infection Tracking System</a></h1></button>
                <button><h1><a href="">CO2 Logging Software</a></h1></button>
                <button><h1><a href="">Welsh Roots Interactive Application</a></h1></button>
            </div>
        </div>
    </div>
</body>
</html>